<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>QueryService</javaee:display-name>
    <servlet-name>QueryService</servlet-name>
    <servlet-class>uk.ac.ebi.biosd.server.service.GWTServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
  	</javaee:description>
    <javaee:display-name>AgeAdminServiceImpl</javaee:display-name>
    <servlet-name>AgeAdminServiceImpl</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.AgeAdminServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
  	</javaee:description>
    <javaee:display-name>UploadSvc</javaee:display-name>
    <servlet-name>UploadSvc</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.UploadSvc</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
  	</javaee:description>
    <javaee:display-name>LoginSvc</javaee:display-name>
    <servlet-name>LoginSvc</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.LoginSvc</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
  	</javaee:description>
    <javaee:display-name>DBStat</javaee:display-name>
    <servlet-name>DBStat</servlet-name>
    <servlet-class>
  	uk.ac.ebi.biosd.server.service.DBStat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryService</servlet-name>
    <url-pattern>/biosd/ageQueryGWT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgeAdminServiceImpl</servlet-name>
    <url-pattern>/admin/ageAdminGWT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadSvc</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSvc</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBStat</servlet-name>
    <url-pattern>/DBStat</url-pattern>
  </servlet-mapping>
  <listener>
    <javaee:listener-class>uk.ac.ebi.biosd.server.service.Init</javaee:listener-class>
  </listener>
</web-app>