<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <display-name>Biosamples Database</display-name>
  
  <context-param>
   <param-name>isMaster</param-name>
   <param-value>true</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>QueryService</display-name>
    <servlet-name>QueryService</servlet-name>
    <servlet-class>uk.ac.ebi.biosd.server.service.GWTServlet</servlet-class>
  </servlet>

  <servlet>
    <description>
  	</description>
    <display-name>AgeAdminServiceImpl</display-name>
    <servlet-name>AgeAdminServiceImpl</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.AgeAdminServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <description>
  	</description>
    <display-name>UploadSvc</display-name>
    <servlet-name>UploadSvc</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.UploadSvc</servlet-class>
  </servlet>

  <servlet>
    <description>
  	</description>
    <display-name>LoginSvc</display-name>
    <servlet-name>LoginSvc</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.LoginSvc</servlet-class>
  </servlet>

  <servlet>
    <description>
  	</description>
    <display-name>DBStat</display-name>
    <servlet-name>DBStat</servlet-name>
    <servlet-class>
  	uk.ac.ebi.biosd.server.service.DBStat</servlet-class>
  </servlet>

  <servlet>
    <description>
  	</description>
    <display-name>DownloadSvc</display-name>
    <servlet-name>DownloadSvc</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.DownloadSvc</servlet-class>
  </servlet>

  <servlet>
    <description>
  	</description>
    <display-name>DataSourceSvc</display-name>
    <servlet-name>DataSourceSvc</servlet-name>
    <servlet-class>
  	uk.ac.ebi.age.admin.server.service.DataSourceServlet</servlet-class>
  </servlet>

  
  
  
  <servlet-mapping>
    <servlet-name>QueryService</servlet-name>
    <url-pattern>/biosd/ageQueryGWT</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AgeAdminServiceImpl</servlet-name>
    <url-pattern>/admin/ageAdminGWT</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UploadSvc</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginSvc</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DBStat</servlet-name>
    <url-pattern>/DBStat</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DownloadSvc</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DataSourceSvc</servlet-name>
    <url-pattern>/dataSourceService</url-pattern>
  </servlet-mapping>


  <listener>
    <listener-class>uk.ac.ebi.biosd.server.service.Init</listener-class>
  </listener>
  
</web-app>