/** Add css rules here for your application. */

body, 
td,
select
{
	font-family: Arial !important;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.currentPageLink
{
	font-weight: bold;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.sampleListLink .staticTextItemDisabled a
{
    background-color: #0099A0;
    color: white;
    text-decoration: none;
}

.sampleListLink .linkDisabled a
{
    color: gray;
    text-decoration: none;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.leftBanner
{
	background-image: url(images/esdbanleft3.png)
}

.rightBanner
{
	background-image: url(images/esdbanright.png)
}

.centerrightBanner
{
	background-image: url(images/esdbancenter.png);
	background-repeat: x-repeat;
}


.reqForm
{
	background-image: url(images/formPlate3.png);
	background-repeat: no-repeat;
}

.reqForm form
{
	background-repeat: no-repeat;
}

.whatTitle, .whatTitleFocused
{
		background-image: url(images/among.png);
		background-repeat: no-repeat;
}

.whereTitle, .whereTitleFocused
{
		background-image: url(images/within.png);
		background-repeat: no-repeat;
}


.reqForm .formTitle, .reqForm .formTitleFocused
{
	font-size: 12pt;
	font-weight: bold
}

.reportGrid .sampleGrid .listTable td
{
	border-left: 1px solid gray;
	font-size: 10pt;
    font-weight: normal
	
}
.reportGrid .listTable td
{
	font-size: 10pt !important;
	font-weight: normal;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif !important;
	color: black
}

.groupDetails td
{
	font-size: 10pt
}

.sampleDetails td
{
	font-size: 10pt
}


span.pageRuler
{
	margin-left: 30px;
	font-size: 10pt;
}

span.pageRulerPrefix
{
	margin-right: 30px;
}

span.pageRuler .el
{
	margin-left: 8px;
	font-size: 10pt;
	color: #006666
}

span.pageRuler span.pagerSpacer
{
	margin-left: 28px;
}

.tallCellSelectedDark, .tallCellSelected, .tallCellSelectedOverDark, .tallCellSelectedOver
{
	background-color: #a1c7c7 !important;
}


span.qualifiedCell, span.idCell
{
	text-decoration: underline;
	cursor: pointer;
}


.objectView .nameColumn
{
//	background-color: gray;
	font-weight: bold;
	border-bottom: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
//	padding-right: 5px
}

.qualifierTable
{
	width: 100%;
	border-collapse: collapse;
}

.qualifierTable td
{
	border: 1px solid black;
	font-size: 10pt;
}

.qualifierTable td.qualifierName
{
	background-color: #a1c7c7;
	text-align: right;
	font-weight: bold;
}

.qualifierTable td.qualifierObjAttrName
{
	background-color: #d1f7f7;
	text-align: right;
	font-weight: bold;
}

.sampleListLink td, .sampleListLink a
{
	font-size: 11pt !important;
}

div.briefObjectRepString
{
	width: 600px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left
}

span.sHL
{
	background-color: yellow;
}

table.objectView
{
	border: 1px solid black;
	border-collapse: collapse 
}

table.objectValue, table.qualifiersEmbedded, table.objectEmbedded
{
	margin: 0;
    border: none;
	border-collapse: collapse 
}

table.relView, table.relView td
{
	margin: 0;
    border: 1px solid black;
	border-collapse: collapse 
}


table.objectView div.valueString
{
	padding: 2px
}

table.objectView td, table.objectValue td
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 0;
}


table.qualifiersEmbedded td,  table.objectEmbedded td
{
	border-top: 1px dotted black;
	border-left: 1px dotted black;
	padding: 0;
}

table.objectView td.attrName, table.relView td.relName
{
	padding: 2px;
	text-align: right;
	font-weight: bold;
	background-color: #a1c7c7;
	width: 1%;
	white-space: nowrap;
}

table.relView td.relTarget
{
	padding: 2px;
	white-space: nowrap;
}

table.qualifiersEmbedded td.attrName
{
		background-color: #d1f7f7;
	
}

table.objectEmbedded td.attrName
{
		background-color: #d1f7f7;
	
}


td.firstCell
{
	xxx-border-top: none !important;
	border-left: none !important;
}


tr.firstRow > td
{
	border-top: none !important;
	xxx-border-left: 1px solid black;
}

table.qualifiersEmbedded div.valueString
{
	white-space: nowrap;
}

.blockLabel
{
	font-size: 14pt;
}

div#ae_results_box table
{
	font-size: 11pt;
}